[submodule "client"]
	path = client
	url = https://github.com/cypherbriedis/client
[submodule "eth"]
	path = eth
	url = https://github.com/cypherbriedis/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/cypherbriedis/circuits.git
[submodule "packages"]
	path = packages
	url = https://github.com/cypherbriedis/packages
